In [5]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.types import *

In [7]:
sp=SparkSession.builder.appName('test').getOrCreate()
data=([1,'Sudhamsh','Data',65000],[2,'Tanvi','Automation',54000],[3,'Pavan','Automation',40000],[1,'Sudhamsh','Data',65000],[4,'Satish','Data',80000],[2,'Tanvi','Automation',54000],["",'Viren',"",45000])
df=sp.createDataFrame(data,['id','name','dept','salary'])
df.show()
df1=df.dropDuplicates()
df1.show()
res=df.join(df1,df.id==df1.id,'left')
res.show()

+---+--------+----------+------+
| id|    name|      dept|salary|
+---+--------+----------+------+
|  1|Sudhamsh|      Data| 65000|
|  2|   Tanvi|Automation| 54000|
|  3|   Pavan|Automation| 40000|
|  1|Sudhamsh|      Data| 65000|
|  4|  Satish|      Data| 80000|
|  2|   Tanvi|Automation| 54000|
|   |   Viren|          | 45000|
+---+--------+----------+------+

+---+--------+----------+------+
| id|    name|      dept|salary|
+---+--------+----------+------+
|  2|   Tanvi|Automation| 54000|
|  1|Sudhamsh|      Data| 65000|
|  3|   Pavan|Automation| 40000|
|   |   Viren|          | 45000|
|  4|  Satish|      Data| 80000|
+---+--------+----------+------+

+---+--------+----------+------+---+--------+----------+------+
| id|    name|      dept|salary| id|    name|      dept|salary|
+---+--------+----------+------+---+--------+----------+------+
|  3|   Pavan|Automation| 40000|  3|   Pavan|Automation| 40000|
|  1|Sudhamsh|      Data| 65000|  1|Sudhamsh|      Data| 65000|
|  2|   Tanvi|Automation| 54000|  2|   Tanvi|Automation| 54000|
|  1|Sudhamsh|      Data| 65000|  1|Sudhamsh|      Data| 65000|
|  4|  Satish|      Data| 80000|  4|  Satish|      Data| 80000|
|   |   Viren|          | 45000|   |   Viren|          | 45000|
|  2|   Tanvi|Automation| 54000|  2|   Tanvi|Automation| 54000|
+---+--------+----------+------+---+--------+----------+------+

In [ ]:
r=df.select((when(df.id=="",None).otherwise(df.id)).alias('ID'))
r=r.coalesce(1).alias('ID')
r.show()

+----+
|  ID|
+----+
|   1|
|   2|
|   3|
|   1|
|   4|
|   2|
|NULL|
+----+

# New Section

**Cloud Challengers Channel Databricks and pyspark interview coding questions 1 to 10**

https://www.youtube.com/watch?v=D71n1wKrmNQ&list=PLxHEfsUVhEwMvQBr10rrpEsnwT3AXBKke&index=2

In [ ]:
#Question 1
df4=sp.createDataFrame((['Goa',"",None],["","AP",None],[None,"","Bglr"]),['city1','city2','city3'])
df4.show()
df5=df4.select(coalesce(df4.city1,df4.city2,df4.city3))
df5=df4.select(coalesce(when(df4.city1=="",None).otherwise(df4.city1),
                        when(df4.city2=="",None).otherwise(df4.city2),
                        when(df4.city3=="",None).otherwise(df4.city3)).alias('City'))
df5.show()

+-----+-----+-----+
|city1|city2|city3|
+-----+-----+-----+
|  Goa|     | NULL|
|     |   AP| NULL|
| NULL|     | Bglr|
+-----+-----+-----+

+----+
|City|
+----+
| Goa|
|  AP|
|Bglr|
+----+

In [ ]:
#Question 2

data=(['Suresh,Ramesh','India'],['Pavan,Rohan','Indonesia'])
df2=sp.createDataFrame(data,['name','country'])
df2.show()
df3=df2.select(explode(split(df2.name,',')).alias('name'),col('country'))
df3.show()

+-------------+---------+
|         name|  country|
+-------------+---------+
|Suresh,Ramesh|    India|
|  Pavan,Rohan|Indonesia|
+-------------+---------+

+------+---------+
|  name|  country|
+------+---------+
|Suresh|    India|
|Ramesh|    India|
| Pavan|Indonesia|
| Rohan|Indonesia|
+------+---------+

In [ ]:
#Question 3
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, split
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

sp=SparkSession.builder.appName('test').getOrCreate()

schema = StructType([
    StructField("player", StringType(), True),
    StructField("runs", IntegerType(), True),
    StructField("50s/100s", StringType(), True)
])

data = [("Sachin-IND", 18694, "93/49"), ("Ricky-AUS", 11274, "66/31"),("Lara-WI", 10222, "45/21"),("Rahul-IND", 10355, "95/11"),("Jhonty-SA", 7051, "43/5"),("Hayden-AUS", 8722, "67/19")]
players_df = sp.createDataFrame(data, schema)

data1 = [("IND", "India"), ("AUS", "Australia"), ("WI", "WestIndies"), ("SA", "SouthAfrica")]
countries_df = sp.createDataFrame(data1,["SRT","country"])

players_df.show()

new=players_df.withColumn("SRT",split(col("Player"),'-').getItem(1))\
              .withColumn("Player",split(col("Player"),'-').getItem(0))\
              .withColumn("50s",split(col("50s/100s"),'/').getItem(1))\
              .withColumn("100s",split(col("50s/100s"),'/').getItem(0))\
              .withColumn("Sum",col('50s')+col('100s'))\
              .select('player','runs','SRT','Sum').filter(col('sum')>90)
new.show()


res=new.join(countries_df,new.SRT==countries_df.SRT,'left').drop('SRT')
res.show()

+----------+-----+--------+
|    player| runs|50s/100s|
+----------+-----+--------+
|Sachin-IND|18694|   93/49|
| Ricky-AUS|11274|   66/31|
|   Lara-WI|10222|   45/21|
| Rahul-IND|10355|   95/11|
| Jhonty-SA| 7051|    43/5|
|Hayden-AUS| 8722|   67/19|
+----------+-----+--------+

+------+-----+---+-----+
|player| runs|SRT|  Sum|
+------+-----+---+-----+
|Sachin|18694|IND|142.0|
| Ricky|11274|AUS| 97.0|
| Rahul|10355|IND|106.0|
+------+-----+---+-----+

+------+-----+-----+---------+
|player| runs|  Sum|  country|
+------+-----+-----+---------+
| Ricky|11274| 97.0|Australia|
|Sachin|18694|142.0|    India|
| Rahul|10355|106.0|    India|
+------+-----+-----+---------+

In [ ]:
#qUESTION4
df=sp.read.option('header',True).option('infershema',True).option('mode',"DROPMALFORMED").csv('/content/employees.csv')
df.show()

+-----+-------+---------+
|empid|empname|  address|
+-----+-------+---------+
|  101| Ashish|    Delhi|
|  102|    Ram|Bangalore|
|  105| Watson|     Pune|
+-----+-------+---------+

In [ ]:
#qUESTION 6
schema = StructType([
    StructField("reqid", IntegerType(), True),
    StructField("pickup_location", StringType(), True)
])


data = [(48, "Airport"), (49, "Office"),(50, "Hospital"),(51, "Airport"),(52, "Hospital"),(53, "Shoppingmall"),(54, "Office"),(55, "Hospital"),(56, "Hospital")]
pickup_df = sp.createDataFrame(data, schema)
pickup_df.show()


res=pickup_df.groupBy('pickup_location').count().orderBy(col('count').desc())
res.limit(3).show()


#Approach 2

w=Window.partitionBy('pickup_location').orderBy(col('pickup_location').desc())
new=pickup_df.withColumn("rn",row_number().over(w))
new=new.groupBy('pickup_location').agg(max('rn').alias('rn')).limit(3)
new.show()

+-----+---------------+
|reqid|pickup_location|
+-----+---------------+
|   48|        Airport|
|   49|         Office|
|   50|       Hospital|
|   51|        Airport|
|   52|       Hospital|
|   53|   Shoppingmall|
|   54|         Office|
|   55|       Hospital|
|   56|       Hospital|
+-----+---------------+

+---------------+-----+
|pickup_location|count|
+---------------+-----+
|       Hospital|    4|
|         Office|    2|
|        Airport|    2|
+---------------+-----+

+---------------+---+
|pickup_location| rn|
+---------------+---+
|        Airport|  2|
|       Hospital|  4|
|         Office|  2|
+---------------+---+

In [ ]:
schema = StructType([
    StructField("reqid", IntegerType(), True),
    StructField("pickup_location", StringType(), True)
])


data = [(48, "Airport"), (49, "Office"),(50, "Hospital"),(51, "Airport"),(52, "Hospital"),(53, "Shoppingmall"),(54, "Office"),(55, "Hospital"),(56, "Hospital")]
pickup_df = sp.createDataFrame(data, schema)
pickup_df.show()

df=pickup_df.groupBy('pickup_location').count().orderBy(col('count').desc()).limit(3)
df.show()

df1=pickup_df.withColumn('rn',row_number().over(Window.partitionBy('pickup_location').orderBy(col('pickup_location').desc())))
df1.groupBy('pickup_location').agg(max('rn').alias('rn')).limit(3).show()

+-----+---------------+
|reqid|pickup_location|
+-----+---------------+
|   48|        Airport|
|   49|         Office|
|   50|       Hospital|
|   51|        Airport|
|   52|       Hospital|
|   53|   Shoppingmall|
|   54|         Office|
|   55|       Hospital|
|   56|       Hospital|
+-----+---------------+

+---------------+-----+
|pickup_location|count|
+---------------+-----+
|       Hospital|    4|
|         Office|    2|
|        Airport|    2|
+---------------+-----+

+---------------+---+
|pickup_location| rn|
+---------------+---+
|        Airport|  2|
|       Hospital|  4|
|         Office|  2|
+---------------+---+

In [8]:
data = [
    (100, 'IT', 100, '2024-05-12'),
    (200, 'IT', 100, '2024-06-12'),
    (100, 'FIN', 400, '2024-07-12'),
    (300, 'FIN', 500, '2024-07-12'),
    (300, 'FIN', 1543, '2024-07-12'),
    (300, 'FIN', 1500, '2024-07-12')
]


columns = ["empid", "dept", "salary", "date"]
df = sp.createDataFrame(data, columns)
df.show()

df1=df.groupBy('empid').count().filter(col('count')==1)
df1.show()
dff=df1.join(df,df1.empid==df.empid,'left').drop('count').drop(df1.empid)
dff.show()

+-----+----+------+----------+
|empid|dept|salary|      date|
+-----+----+------+----------+
|  100|  IT|   100|2024-05-12|
|  200|  IT|   100|2024-06-12|
|  100| FIN|   400|2024-07-12|
|  300| FIN|   500|2024-07-12|
|  300| FIN|  1543|2024-07-12|
|  300| FIN|  1500|2024-07-12|
+-----+----+------+----------+

+-----+-----+
|empid|count|
+-----+-----+
|  200|    1|
+-----+-----+

+-----+----+------+----------+
|empid|dept|salary|      date|
+-----+----+------+----------+
|  200|  IT|   100|2024-06-12|
+-----+----+------+----------+

In [19]:
#Question 8

from pyspark.sql.functions import col, when
d=([123],['Sam'],[4353],['kiran'],[2454],['ajay'],[45354])
df=sp.createDataFrame(d,['empid'])
df.show()

df=df.filter(col('empid').cast('int').isNotNull())
df.show()

#SQL Approach

df.createOrReplaceTempView("table")

new_df=sp.sql("select * from table where cast(empid as int) is not null")
new_df.show()


#

+-----+
|empid|
+-----+
|  123|
|  Sam|
| 4353|
|kiran|
| 2454|
| ajay|
|45354|
+-----+

+-----+
|empid|
+-----+
|  123|
| 4353|
| 2454|
|45354|
+-----+

+-----+
|empid|
+-----+
|  123|
| 4353|
| 2454|
|45354|
+-----+

In [21]:
#Question 9

data = [("virat kohli",), ("p v sindhu",)]


columns = ["name"]
df = sp.createDataFrame(data, columns)

df.show()
df=df.withColumn("name",initcap(col('name')))
df.show()

+-----------+
|       name|
+-----------+
|virat kohli|
| p v sindhu|
+-----------+

+-----------+
|       name|
+-----------+
|Virat Kohli|
| P V Sindhu|
+-----------+

In [24]:
#Question 10

data1 = [(1, 'Bob'), (2, 'Alice'), (3, 'Tom')]
data2 = [(1, 'Bob'), (3, 'Tom')]


df1 = sp.createDataFrame(data1, ["id", "name"])
df2 = sp.createDataFrame(data2, ["id", "name"])

diff=df1.exceptAll(df2)
diff.show()

+---+-----+
| id| name|
+---+-----+
|  2|Alice|
+---+-----+

In [26]:
#Question 11

data = [(1, None, 'ab'),
    (2, 10, None),
    (None, None, 'cd')]
columns = ['col1', 'col2', 'col3']
df = sp.createDataFrame(data, columns)
df.show()
df.withColumn('col1',when(col('col1').isNull(),1).otherwise('0'))

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   1|NULL|  ab|
|   2|  10|NULL|
|NULL|NULL|  cd|
+----+----+----+

In [13]:
#Question 12

data = [(101, 'IT', 1000), (102, 'HR', 900)]
columns = ["empid", "dept", "salary"]
df = sp.createDataFrame(data, columns)
df.show()
prefix="DE_"
for c in df.columns:
  df=df.withColumnRenamed(c,prefix+c)
df.show()

+-----+----+------+
|empid|dept|salary|
+-----+----+------+
|  101|  IT|  1000|
|  102|  HR|   900|
+-----+----+------+

+--------+-------+---------+
|DE_empid|DE_dept|DE_salary|
+--------+-------+---------+
|     101|     IT|     1000|
|     102|     HR|      900|
+--------+-------+---------+